@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px;
    grid-gap: 100px;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('light_of_dawn_by_bisbiswas_deeg7fq.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 250px 30px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
}

h1{
    color:aliceblue;
    margin-left: 40px;
}

.temperature_box{
    position: relative;
    width: 200px;
    height: 250px;
    padding: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    grid-column:1;
    grid-row: 2;
}

.temperature_box span{
    position: absolute;
    font-size: 20px;
    margin-left: 2px;
}

.temperature_box img{
    width: 50%;
    margin: 25px 0 10px 0;
}

.humidity_box{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 600;
    position: relative;
    padding: 30px;
    width: 200px;
    height: 250px;
    grid-column: 2;
    grid-row: 2;
}

.humidity_box span{
    position: absolute;
    font-size: 20px;
    margin-left: 2px;
}

.humidity_box img{
    width: 55%;
}

.humidity_box p{
    margin: 30px 0 0 0;
}

.timestamp_box{
    grid-column: 1/3;
    grid-row: 3;
    margin: 0 0 25px 15px;
}

.timestamp_box p{
    color: aliceblue;
}